@media(max-width:450px){
    

    
     header{
        
        padding: 10px 30px;
       
     }

     nav {
        width: 80%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 20px;
     }

     nav a{
        font-size: 12px;
     }
   
    
    #about article{
        flex-direction: column;
        padding: 50px 30px;
        gap: 40px;
        
    }
    
    #about article div{
        width: 100%;
        gap: 30px;
       
    }
    
   #about article img{
        width: 70%;
    
    }
    
    #about article div p{
        text-align: justify;
    }
    

     
    
    
    
    #astro article {
        gap: 20px;
        padding: 50px;
        justify-content: center;
    }
    
    #astro article img{
        width: 100px;
        height: 100px;
    }
    
   
    
    #contact article{ 
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 40px;
    
    }
    
    #contact article div{
        width: 100%;
        
    
    }

    #contact article div p{
        justify-content: center;
        align-items: center;
    }
   
    
    #contact article form{
        width: 100%;
       
    }
    
   
    
}